@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--primary: rgb(255, 255, 255);
	--secondary: rgb(38, 38, 38);
	--complementary: rgb(217, 91, 18);
	--complementary2: rgb(191, 4, 4);
}

/* Default */
* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

body {
	background-image: url(./img/background-image.png);
	background-repeat: no-repeat;
	color: var(--primary);
}

.container {
	margin: 1.5rem 3rem 0rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

button {
	border-radius: 50px;
	border: none;
	outline: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	cursor: pointer;
	width: fit-content;
	background-color: var(--complementary);
	color: var(--primary);
	font-weight: 700;
}

a {
	text-decoration: none;
	color: var(--primary);
	backgound-color: #fff;
}

h2 {
	font-size: 3rem;
}

/* Navigation */
header {
	margin: 1.5rem 3rem 0rem 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
}

nav img {
	height: 5rem;
	width: auto;
}

nav ul {
	display: flex;
	gap: 1rem;
	list-style: none;
}

nav ul li a {
	cursor: pointer;
	text-decoration: none;
	color: var(--primary);
}

/* Main Section */
main {
	display: flex;
	justify-content: space-between;
}

.image-wrapper {
	display: flex;
	justify-content: center;
}

.image-wrapper img {
	height: 25rem;
	width: auto;
}

.hero {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.hero-title {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 1.25rem;
}

.hero-title h1 {
	margin-bottom: -25px;
}

.title {
	color: var(--complementary);
	font-size: 6rem;
	font-weight: 800;
	line-height: 5.5rem;
	overflow: hidden;
}

@media only screen and (max-width: 1076px) {
	.hero-title {
		display: flex;
		align-content: flex-start;
		align-items: center;
	}

	.hero-title p {
		text-align: center;
	}

	.image-wrapper {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.title {
		font-size: 5rem;
	}
}
@media only screen and (max-width: 670px) {
	.title {
		font-size: 4.5rem;
	}
}
@media only screen and (max-width: 600px) {
	header {
		justify-content: center;
	}
	nav {
		display: none;
	}
	.title {
		font-size: 4rem;
	}
}

/* História */
#history {
	margin-top: 1rem;
	padding-bottom: 3rem;
}
